* { 
    box-sizing: border-box;
    margin: 0;
    padding:0
 } 

/* 
All pages should look good and work well at browser widths between 320 and 3200px wide. 
Use the attached logo and favicon to follow the resort's branding. 
The logo can Be recoloured to any colour you need for your design The website should include the favicon for every page
    of the website.
The client wants the weather in their location (Cancun, Mexico) to be displayed in the website's header. 
Each page should be no more than 1.8MB in filesize (including any fonts, external files and media assets). 
    You will need to optimize your media to meet this limit. 
*/

/* -------------- DEFAULT STYLING FOR ALL PAGES  ---------*/
h1 {
    font-family: "Antic Didone", serif;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: "Antic Didone", serif;
    font-optical-sizing: auto;
    font-size:clamp(1.75rem, 4vw, 3rem);
    font-weight: 500;
    font-style: normal;
    text-align: center;
}


h3{
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(1.5rem, 3.5vw, 2.5rem);
    font-style: normal;
    text-align: center; 
}

p{
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    font-style: normal;
    text-align: center; 
}


li {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    font-style: normal;
    text-align: center; 
}


figcaption {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    font-style: normal;
    text-align: center; 
}

img{
    display:block;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
}


/*-----------END fonts-------------*/




/* -----------HEADER styling----------- */

#overlap{                   /*Logo overlap with hero background */
display:grid;
grid-template-columns: 1fr;
justify-items: center;
}

#overlap > *{               /* selects all children of overlap*/
    grid-column-start: 1;
    grid-row-start: 1;
    column-span: all;
}

#herobanner{
    max-width: 100%;
    margin:0;
}

#LOGO{ 
    width:15rem;
    margin-top: 1rem;

}

#WeatherBar{
    background-color: #172A3A;
    padding:1rem;
}

#temperature{
    color:white; 
    margin:0;
}


    /* ------NAV BAR------*/

    /*NOTE TO SELF - May have to change nav bar back to UL for other media query sizes. */
nav {
    background-color: #B9E4F4 ;
    margin:0 0;
}


.NavButton{
    list-style-type: none;
    text-align: center;
    border: solid black 1px;
    padding: 0.8rem;
    width: 100%;
    background-color: #B9E4F4;
    margin:0;
}


.NavButton a{
    text-decoration: none;
    color:#172A3A
}

.NavButton a:hover{
    background-color:  #a8cfdd;
    padding:1rem;
    text-decoration: underline;
    
}

/*--------------- END Header -----------------*/




body {
    background-color: #B398A5; /* MAKE THIS BACKGROUND COLOUR AFTER EVERYTHING WORKS #FBF3E6;*/
    color: #172A3A;
    margin:0;
    align-content: center;
}


main{
    max-width: 100%;
    margin:0;
    background-color: #FBF3E6;  
}

main img{
    display:block;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
}


#MomentsGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;


}

hr{  /* The lil line divider thing between sections */
    border-width: 0.01rem;
    max-width: 80%;
        margin: 0 auto;

}

/*-------------------------------------------------*/


#MomentsGrid {
    display: grid;
    grid-template-columns: 2;
    align-items: center;
}

#MomentsGrid figure{
    margin:1rem;
    text-align: center;
}

#MomentsGrid figcaption {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 28;
    font-style: normal;
    text-align: center; 
}

#MomentsGrid img{
    max-width: 100%;
    border-radius: 0;
}


#Accomodations{
    background-color: #D2C7B2;
    display:flex;
    flex-direction: column;
    align-items: center;
}


#Accomodations img{
    border: solid #E2C486 1rem;
    border-radius: 20px;
    max-width: 100%;
}


footer {
    color: #b9e4f4;
    background-color: #172A3A;
}

button{
    color:#172A3A;
    background-color: #B398A5; /*other colours: #5F96AA   #8F8389   */
    border: none;
    border-radius: 10px;
    padding:0.6rem 0.3rem;
    max-width: 20vw;  /*NOTE TO SELF: not totally responsive button sizing */
}

.button-wrapper{   /*Annoying cuz in ordre to center buttons need div styling*/
    display:flex;
    justify-content: center;
    max-width: 20%;
}


.Review {
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 1rem;
    margin: 1rem auto; 
    max-width: 80%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}








/*-----------------------------------------------------ACTIVITIES PAGE STYLING-------------------------------------------------*/








#On-Site-Activities{
    background-color: #D2C7B2;
}


#Booking-Information{
    background-color: #b9e4f4;
}

#Booking-Information ul li{
    list-style: circle;
}


/*-------------------CREATING A CAROUSEL--------------------*/
.card-link{
    max-width: 100%;
}

.badge {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    font-style: normal;
    text-align: center; 
 }

.card-wrapper {
    max-width: 100%;
    margin:0 1rem 1rem;
    padding: 1rem 1rem;
}

.card-list .card-item {
    list-style: none;
}


.card-list .card-item .card-link {
    user-select: none;

    display:block;
    background:#ffff;
    padding:1rem;
    border-radius:2rem;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
}


.card-list .card-item .card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-item .badge {
    color:#172A3A;
    padding:8px 16px; /*NOTE TO SELF - MAKE RESPONSIVE*/
    font-weight: 500;
    margin: 15px 0 18px;/*NOTE TO SELF - MAKE RESPONSIVE*/
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}


.card-list .card-item .card-title {
    color:#172A3A;
}

.card-list .card-link .card-button{
    color:#172A3A;
    border-radius: 50%;
    margin:30px 0 5px;/*NOTE TO SELF - MAKE RESPONSIVE*/
    background:none;
    cursor:pointer;
    border:2px solid black;
    padding:0 0;
    transform:rotate(-45deg);
}

.card-list .card-link:hover .card-button{
    color:#fff;
    background-color: #172A3A;
}

.card-item .swiper-slide {
    max-width: 100%;
}


/*------------MEDIA QUERIES---------------*/

@media screen and (max-width:550px){    /* Changes the 2x2 photo grid to a one column layout for x-small screen sizes. */
    #MomentsGrid{
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width:1001px){
    #MomentsGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}