* { 
    box-sizing: border-box;
    margin: 0;
    padding:0
} 

/* 
All pages should look good and work well at browser widths between 320 and 3200px wide. 
Use the attached logo and favicon to follow the resort's branding. 
The logo can Be recoloured to any colour you need for your design The website should include the favicon for every page
    of the website.
The client wants the weather in their location (Cancun, Mexico) to be displayed in the website's header. 
Each page should be no more than 1.8MB in filesize (including any fonts, external files and media assets). 
    You will need to optimize your media to meet this limit. 
*/

/* -------------- DEFAULT STYLING FOR ALL PAGES  ---------*/
h1 {
    font-optical-sizing: auto;
    font-family: "Antic Didone", serif;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
    margin:2rem 2rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}

#TITLE {
    margin: 2rem 2rem;
}

h2 {
    font-family: "Antic Didone", serif;
    font-optical-sizing: auto;
    font-size:1.9rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: clamp(0.4rem, 1rem, 2rem);
    padding-bottom: clamp(0.4rem, 1rem, 2rem);
    padding-left:2rem;
    padding-right:2rem;
    margin: 2rem auto;
}


h3{
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.3rem;
    font-style: normal;
    text-align: center; 
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

p{
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    text-align: center; 
    margin: 1.6rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}


li {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    text-align: center; 
    padding-bottom: 1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
figure{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    text-align: center; 
    padding-top: 1.1rem;
    padding-bottom:1.1rem;
    max-width: 90%;
}

img{
    display:block;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;


}


hr{  /* The lil line divider thing between sections */
    border-width: 0.01rem;
    border-color: #172A3A;
    width: 80%;
        margin: 0 auto;
    

}


/*-----------END fonts-------------*/




/* -----------HEADER styling----------- */

#overlap{                   /*Logo overlap with hero background */
display:grid;
grid-template-columns: 1fr;
justify-items: center;
}

#overlap > *{               /* the * selects all children of overlap*/
    grid-column-start: 1;
    grid-row-start: 1;
    column-span: all;
}

#herobanner{
    max-width: 100%;
    margin:0;
    padding:0;
    border-radius: 0;
}

#LOGO{ 
    width:15rem;
    margin-top: 1rem;

}

#WeatherBar{
    background-color: #172A3A;
    padding:1rem;
}

#temperature{
    color:white; 
    margin:0;
}



    /* ------NAV BAR------*/

    /*NOTE TO SELF - May have to change nav bar back to UL for other media query sizes. */
nav {
    display:flex;
    flex-direction: column;
    background-color: #B9E4F4 ;
    margin:0 0;
}


.NavButton{
    list-style-type: none;
    text-align: center;
    border: solid black 1px;
    padding: 0.8rem;
    width: 100%;
    background-color: #B9E4F4;
    margin:0;
}


.NavButton a{
    text-decoration: none;
    color:#172A3A
}

.NavButton a:hover{
    background-color:  #a8cfdd;
    padding:1rem;
    text-decoration: underline;
    
}

/*--------------- END Header -----------------*/



figure ul{
    text-align: left;
}



body {
    background-color: #FBF3E6; 
    color: #172A3A;
    margin:0;
    padding:0;
    align-content: center;
}


main{
    max-width: 100%;
    margin:0;
    background-color: #FBF3E6;  
}

main img{
    display:block;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
}




#MomentsGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;


}



/*-------------------------------------------------*/
/*SPA STYLING*/
#MassageTitle{
    font-size:3.1rem;
}

#JumpLinks{
    display:grid;
    background-color: #D2C7B2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    text-decoration: none;
    border: 1px solid #1f2117;
}
#JumpLinks p{
    text-decoration: none;
    padding:0.5rem 0;
    margin: 0 0;
    border: 1px solid #949485;
}

#SpaTimePrice{
    display:grid;
    grid-template-columns: 2;
    font-size: 1rem;
}

.Time{
text-align: left;
}

.Price{
    text-align: right;
}

#JumpLinks p a{
    text-decoration: none;
    color:#172A3A;
}

#JumpLinks p a:hover{
    color:#03233d;
    text-decoration:underline;
    background-color: #b5ab99;
    padding:0.1rem;
    border-radius: 10px;
}

#JumpLinks p:last-child{
    grid-column: 1 / span 3;
}



/*END SPA STYLING*/

#MomentsGrid {
    display: grid;
    grid-template-columns: 2;
    align-items: center;
}

#MomentsGrid figure{
    margin:1rem;
    text-align: center;
}

#MomentsGrid figcaption {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 28;
    font-style: normal;
    text-align: center; 
}

#MomentsGrid img{
    max-width: 100%;
    border-radius: 0.5rem;
}


#Accomodations{
    background-color: #D2C7B2;
    display:flex;
    flex-direction: column;
    align-items: center;
}


#Accomodations img{
    border: solid #E2C486 1rem;
    border-radius: 20px;
    max-width: 100%;
}


#GuestRoomsGrid{
    background-color: #D2C7B2;
    display:flex;
    flex-direction: column;
    align-items: center;
}



#testimonials {
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top:3rem;
    background-color: #172A3A;
    color: #b9e4f4;
    padding: 1rem;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(0.7rem, 2.5vw, 2rem);
}

#Footer-Info {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

#Return-To-Top-Link{
    grid-column: 2;
    grid-row:1;
    background-color: #B9E4F4;
    color:#172A3A;
    padding: 0.3rem;
    border-radius: 10px;
    justify-self: end;
}

#Return-To-Top-Link:hover{
    background-color:#172A3A;
    border: 2px solid #b9e4f4;
    color:#b9e4f4;
}

#Return-To-Top-Link a{
    color:#172A3A;
    text-decoration: none;
}

#Return-To-Top-Link a:hover {
    text-decoration: underline;
    color:#b9e4f4
}




button {
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    padding: clamp(0.6rem, 1.2vw, 1rem) clamp(1rem, 2vw, 2rem); 
    background-color: #B398A5;
    color: #172A3A;
    border: none;
    border-radius: 10px;
    max-width: fit-content;
    cursor: pointer;
}

button:hover{   /*ADDS HOVER EFFECT TO BUTTONS*/
    box-shadow:#172A3A 0.2rem 0.2rem 0.4rem;
}




.button-wrapper{   /*Annoying cuz in ordre to center buttons need div styling*/
    display:flex;
    justify-content: center;
    width: 100%;
    padding:1rem;
}

#test-button-wrapper{
    padding:1rem;
}


.Review {
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 1rem;
    margin: 1rem auto; 
    max-width: 80%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}




.ReviewCard{ 
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 1rem;
    margin: 1rem auto; 
    max-width: 80%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.ReviewNAME{
    justify-content: left;
    text-align: left;
}




/*-----------------------------------------------------ACTIVITIES PAGE STYLING-------------------------------------------------*/








#On-Site-Activities{
    background-color: #D2C7B2;
}


#Booking-Information{
    background-color: #b9e4f4;
}

#Booking-Information ul li{
    list-style: circle;
}


/*----------------------GUEST ROOMS STYLING -----------------------------------*/


        .GuestRooms-Wrapper ul {
        margin: 1;
        padding-left: 2rem; 
        text-align: left;
        list-style-position: outside;
        padding-bottom: 2rem;
    }


    .GuestRooms-Wrapper ul LI {
        margin: 1;
        padding-left: 0.1rem; 
        text-align: left;
        list-style-position: outside;

    }




/*-------------------CREATING A CAROUSEL--------------------*/
.card-link{
    max-width: 100%;
}

.badge {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    font-style: normal;
    text-align: center; 
}

.card-wrapper {
    max-width: 100%;
    margin:0 1rem 1rem;
    padding: 1rem 1rem;
}

.card-list .card-item {
    list-style: none;
}


.card-list .card-item .card-link {
    user-select: none;

    display:block;
    background:#ffff;
    padding:1rem;
    border-radius:2rem;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
}


.card-list .card-item .card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-item .badge {
    color:#172A3A;
    padding:8px 16px; /*NOTE TO SELF - MAKE RESPONSIVE*/
    font-weight: 500;
    margin: 15px 0 18px;/*NOTE TO SELF - MAKE RESPONSIVE*/
    background: #dde4ff;
    width: fit-content;

}


.card-list .card-item .card-title {
    color:#172A3A;
}

.card-list .card-link .card-button{
    color:#172A3A;
    border-radius: 50%;
    margin:30px 0 5px;/*NOTE TO SELF - MAKE RESPONSIVE*/
    background:none;
    cursor:pointer;
    border:2px solid black;
    padding:0 0;
    transform:rotate(-45deg);
}

.card-list .card-link:hover .card-button{
    color:#fff;
    background-color: #172A3A;
}

.card-item .swiper-slide {
    max-width: 100%;
}




/*SPA*/

#Massages{
    background-color:#D2C7B2;
}

#SpaTimePrice{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:white;    
    background-color:#5B646E
}

#SpaTimePrice#Time{ /*NOTE TO SELF: Figure out how to justify left / right*/

}

#SpaTimePrice#Price{

}




/*===================== DINING PAGE STYLING===================*/



.Restaurant-Info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: #9C9393;
}

.Restaurant-Info li{
    list-style: none;
}

.Restaurant-Info h3 {
    text-align: center;
    border-bottom: 2px solid #172A3A;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    min-height: 3.5rem; /* or whatever value ensures uniform height */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}




/*---------------------------------------MEDIA QUERIES-------------------------------*/



/*------------------------------------ MOBILE --------------*/
@media screen and (max-width:768px){   
    #MomentsGrid{
        grid-template-columns: 1fr;
    }

    .Review-DesktopOnly {
        display:none;
    }
    .GuestRooms-Wrapper h2{
        font-size: 2rem;
    }

    .GuestRooms-Wrapper ul {
        margin: 1;
        padding-left: 2rem; /* this creates space for bullets + gap from edge */
        text-align: left;
        list-style-position: outside;
        padding-bottom: 2rem;
    }


    .GuestRooms-Wrapper ul li {
        text-align: left;
        padding-top:0.4rem;
    }

    .GuestRooms-Wrapper figcaption{
        font-size: 1.16rem;
    }
}

/*------------------------------------ TABLET --------------*/
@media screen and (min-width:769px) and (max-width:1000px){

    h1{
        font-size: 2.3rem;
    }

    h2{
        font-size: 2rem;
        margin:0;
        padding:2rem 4rem 2rem 4rem;
    }

    h3{
        font-size: 1.5rem;
        margin:0;
    }

    p{
        font-size: 1.4rem;
    }

    figcaption{
        font-size: 1.2rem;
        margin:0;
    }
    #testimonials p{
        font-size:1.1rem;
    }

    button{
        font-size: 1.1rem;
    }

    #HomeIntro img{
        padding: 1rem 6rem 1rem 6rem;
        border-radius: 2rem;
    }



    nav {
        flex-direction: row;
    }

    .Review-DesktopOnly {
        display:none;
    }
    

    #testimonials {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #testimonials h1 {
        grid-column: 1 / span 2;
    }

    #test-button-wrapper{
        grid-column: 1 / span 2;
        display:flex;
        justify-content: center;
    }

    footer{
        font-size: 1rem;
    }

    #GuestRoomsGrid.GuestRooms-Wrapper h2{
        font-size: 1rem;
    }

    .GuestRooms-Wrapper figure {
    padding-left: 2rem;
    padding-right: 2rem;
    }

    .GuestRooms-Wrapper figure{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        align-items: center;
        max-width: 1000px;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

      /* H2 spans both columns and is centered */
    .GuestRooms-Wrapper h2 {
        grid-column: 1 / -1;
        text-align: center;
    }
    
    /* Paragraph on the left column */
    .GuestRooms-Wrapper figcaption {
        grid-column: 1 / span 2;
        grid-row: 1;
    }


        .GuestRooms-Wrapper ul {
        margin: 1;
        padding-left: 2rem; /* this creates space for bullets + gap from edge */
        text-align: left;
        list-style-position: outside;
        padding-bottom: 2rem;
    }


    .GuestRooms-Wrapper ul li {
        text-align: left;
        padding-top:0.4rem;
    }

    
    /* Let Image span vertically to grow/shrink */
    .GuestRooms-Wrapper figure img {
        grid-column: 2;
        grid-row: 2 / span 2;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 3rem;
    }


}

/*---------DESKTOP---------------DESKTOP---------------- DESKTOP -------------------------------------------------*/
@media screen and (min-width:1001px){

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.1rem;
        margin:0;
    }

    h3{
        font-size: 1.3rem;
        margin:0;
    }

    p{
        font-size: 1.4rem;
    }

    figcaption{
        font-size: 1.1rem;
        margin:0;
    }
    #testimonials p{
        font-size:1.2rem;
    }

    button{
        font-size: 1.3rem;
    }

    footer{
        font-size: 1rem;
    }

    /* li{

    }

    .badge{

    } */

    nav {
        flex-direction: row;
    }
        /*==================== H0ME PAGE STYLE ========================*/
    
        #testimonials h1 {
            grid-column: 1 / span 3;
        }
    
        .Review-DesktopOnly{
            display:flex;
            flex-direction: column;
            background-color: #E2C486;
            padding: 1rem;
            margin: 1rem auto; 
            max-width: 80%;  
            border-radius: 10px;
            text-align: center;
            align-items: center;
        }
        #testimonials {
            display: grid;
            column-gap: 0.3rem;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            align-items: stretch; 
        }
        .Review,
        .Review-DesktopOnly {
            height: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
    
        #test-button-wrapper{
            grid-column: 1 / span 3;
            display:flex;
            justify-content: center;
        }



    #MomentsGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #HomeIntro {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2rem;
        align-items: center; 
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }
    
    #HomeIntro h2 {
        grid-column: 1; 
        grid-row: 1;
    }
    
    #HomeIntro h3{
        grid-column: 1; 
        grid-row: 2;
    }
    
    #HomeIntro img {
        grid-column: 2; 
        grid-row: 1 / span 2; 
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .Accomodations-Wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        align-items: center;
        max-width: 1000px;
        margin: auto;
        padding: 2rem;
    }

    

    .Accomodations-Wrapper h2 {
        grid-column: 1 / -1;
        text-align: center;
    }
    

    .Accomodations-Wrapper p {
        grid-column: 1;
        grid-row: 2;
    }
    

    .Accomodations-Wrapper .button-wrapper {
        grid-column: 1;
        grid-row: 3;
    }
    

    .Accomodations-Wrapper img {
        grid-column: 2;
        grid-row: 2 / span 2;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
/*========END============ H0ME PAGE STYLE ========================*/

/*----------------------GUEST-ROOM STYLING-----------------------*/
    #GuestRoomsGrid.GuestRooms-Wrapper h2{
        font-size: 1rem;
    }

    .GuestRooms-Wrapper figure {
    padding-left: 2rem;
    padding-right: 2rem;
    }

    .GuestRooms-Wrapper figure{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        align-items: center;
        max-width: 1000px; /*NOTE TO SELF FIX THIS */
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

      /* H2 spans both columns and is centered */
    .GuestRooms-Wrapper h2 {
        grid-column: 1 / -1;
        text-align: center;
    }
    
    /* Paragraph on the left column */
    .GuestRooms-Wrapper figcaption {
        grid-column: 1 / span 2;
        grid-row: 1;
    }


        .GuestRooms-Wrapper ul {
        margin: 1;
        padding-left: 2rem; /* this creates space for bullets + gap from edge */
        text-align: left;
        list-style-position: outside;
        padding-bottom: 2rem;
    }


    .GuestRooms-Wrapper ul li {
        text-align: left;
        padding-top:0.4rem;
    }

    
    /* Let Image span vertically to grow/shrink */
    .GuestRooms-Wrapper figure img {
        grid-column: 2;
        grid-row: 2 / span 2;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 3rem;
    }

/*--------------END--------GUEST-ROOM STYLING-----------------------*/




/*========ADVENTURES AND EXCURSIONS*/
.card-wrapper {
    max-width: 50%;
    Height:100%;
    margin:0;
    padding: 1rem 1rem;
}

.card-list .card-item {
    list-style: none;
}


}

