* { 
    box-sizing: border-box; /*Prevents padding from increasing element size*/
    margin: 0;
    padding:0
} 


/* -------------- GLOBAL STYLING FOR ALL PAGES  ---------*/
h1 {
    font-family: "Antic Didone", serif;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
    margin:2rem 2rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}

#TITLE {
    margin: 2rem 2rem;
    font-size: 2.8rem;
}

h2 {
    font-family: "Antic Didone", serif;
    font-size:1.9rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding: clamp(0.4rem, 1rem, 2rem);
    padding-bottom: clamp(0.4rem, 1rem, 2rem);
    padding-left:2rem;
    padding-right:2rem;
    margin: 2rem auto;
}


h3{
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center; 
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

p{
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
    text-align: center; 
    margin: 1.6rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}


li {
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
    padding-bottom: 1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
figure{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption {
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
    text-align: center; 
    padding-top: 1.1rem;
    padding-bottom:1.1rem;
    max-width: 90%;
}

img{
    display:block;
    border-radius: 10px;
    max-width: 1000px;
    max-width: 80%;
    margin: 0 auto;


}

#herobanner{
    max-width: none;
}


hr{  /* The lil line divider thing between sections */
    border-width: 0.01rem;
    border-color: #172A3A;
    width: 80%;
        margin: 0 auto;
    

}


/*-----------END fonts-------------*/




/* -----------HEADER styling----------- */

#overlap{                   /*Logo overlap with hero background */
display:grid;
grid-template-columns: 1fr;
justify-items: center;

}

#overlap a{
    width:50%;
}

#overlap > *{               /* the * selects all children of overlap*/
    grid-column-start: 1;
    grid-row-start: 1;
    column-span: all;
}

#herobanner{
    max-width: 100%;
    margin:0;
    padding:0;
    border-radius: 0;
}



#WeatherBar{
    background-color: #172A3A;
    padding:1rem;
}

#temperature{
    color:white; 
    margin:0;
}



    /* ------NAV BAR------*/


nav {
    display:flex;
    flex-direction: column;
    background-color: #B9E4F4 ;
    margin:0 0;
}


.NavButton{
    list-style-type: none;
    text-align: center;
    border: solid black 1px;
    padding: 0.8rem;
    width: 100%;
    background-color: #B9E4F4;
    margin:0;
}


.NavButton a{
    text-decoration: none;
    color:#172A3A
}

.NavButton a:hover{
    background-color:  #a8cfdd;
    padding:1rem;
    text-decoration: underline;
    
}

/*--------------- END Header -----------------*/



figure ul{
    text-align: left;
}



body {
    background-color: #FBF3E6; 
    color: #172A3A;
    margin:0;
    padding:0;
    align-content: center;
}


main{
    max-width: 100%;
    margin:0;
    background-color: #FBF3E6;  
}

main img{
    display:block;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
}




#MomentsGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;


}




/*SPA STYLING*/
#MassageTitle{
    font-size:3.1rem;
}

#Massages{
    display: grid;
    grid-template-columns: 1fr;
}

#Massages h3,
#Massages p{
    text-align: left;
}

#JumpLinks{
    display:grid;
    background-color: #D2C7B2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    text-decoration: none;
    border: 1px solid #1f2117;
}
#JumpLinks p{
    text-decoration: none;
    padding:0.5rem 0;
    margin: 0 0;
    border: 1px solid #949485;
}


.SpaCard{
    padding-bottom: 4rem;
}

.SpaCard h3{
    font-weight: bold;
}

#ManiPedi .TimePrice{
    display:block;
    justify-self: center;
}


.SpaTimePrice{
    padding-right:3rem;
    padding-left:3rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid #7f8b99 3px;
    box-shadow:#172A3A 0.2rem 0.2rem 0.4rem;
}

.Time{
    justify-self: left;
    align-content: center;
    font-size: 1.2rem;
    padding:0.5rem 0;
}

.Price{
    padding:0;
    font-size: 1.2rem;
    align-content: center;
    justify-self: right;
}

#JumpLinks p a{
    text-decoration: none;
    color:#172A3A;
}

#JumpLinks p a:hover{
    color:#03233d;
    text-decoration:underline;
    background-color: #b5ab99;
    padding:0.1rem;
    border-radius: 10px;
}

#JumpLinks p:last-child{
    grid-column: 1 / span 3;
}


#Facials{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#Facials hr{
    width: 100%;
}


#BodyTreat{
    display:grid;
    grid-template-columns: 1fr;
}

#Enhancements{
    text-align: center;
}

#Notes{
    text-align: center;
}

#ManiPedi hr {
width:100%
}

#Notes li,
#Notes h2 {
    font-weight: 700 ;
}


/*END SPA STYLING*/


#MomentsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#MomentsGrid figure{
    margin:1rem;
    text-align: center;
}

#MomentsGrid figcaption {
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center; 
}

#MomentsGrid img{
    max-width: 100%;
    border-radius: 0.5rem;
}


#Accomodations{
    background-color: #D2C7B2;
    display:flex;
    flex-direction: column;
    align-items: center;
}


#Accomodations img{
    border: solid #E2C486 1rem;
    border-radius: 20px;
    max-width: 100%;
}




#testimonials {
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top:3rem;
    background-color: #172A3A;
    color: #b9e4f4;
    padding: 1rem;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: clamp(0.7rem, 2.5vw, 2rem);
}

#Footer-Info {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

#Return-To-Top-Link{
    grid-column: 2;
    grid-row:1;
    background-color: #B9E4F4;
    color:#172A3A;
    padding: 0.3rem;
    border-radius: 10px;
    justify-self: end;
}

#Return-To-Top-Link:hover{
    background-color:#172A3A;
    border: 2px solid #b9e4f4;
    color:#b9e4f4;
}

#Return-To-Top-Link a{
    color:#172A3A;
    text-decoration: none;
}

#Return-To-Top-Link a:hover {
    text-decoration: underline;
    color:#b9e4f4
}




button {
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    padding: clamp(0.6rem, 1.2vw, 1rem) clamp(1rem, 2vw, 2rem); 
    background-color: #B398A5;
    color: #172A3A;
    border: none;
    border-radius: 10px;
    max-width: fit-content;
    cursor: pointer;
}

button:hover{   /*ADDS HOVER EFFECT TO BUTTONS*/
    box-shadow:#172A3A 0.2rem 0.2rem 0.4rem;
}




.button-wrapper{   /*Annoying cuz in ordre to center buttons need div styling*/
    display:flex;
    justify-content: center;
    width: 100%;
    padding:1rem;
}

#test-button-wrapper{
    padding:1rem;
}


.Review {
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 1rem;
    margin: 1rem auto; 
    max-width: 80%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}




.ReviewCard{ 
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 1rem;
    margin: 1rem auto; 
    max-width: 80%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.ReviewNAME{
    justify-content: left;
    text-align: left;
}




/*-----------------------------------------------------ACTIVITIES PAGE STYLING-------------------------------------------------*/








#On-Site-Activities{
    background-color: #D2C7B2;
}

#On-Site-Activities ul{
    margin: 0 3rem;
    justify-self: center;
}

#On-Site-Activities li{
    justify-self:center ;
    margin: 0 2rem;
}


#Booking-Information{
    display:flex;
    flex-direction: column;
    background-color: #b7cbdb;
    padding:2rem 2rem 2rem 2rem;

}

#Booking-Information ul li{
    list-style: none;
    justify-self: center;
}




/*-------------------CREATING A CAROUSEL--------------------*/
.card-link{
    max-width: 100%;

}

.badge {
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem);
    font-style: normal;
    text-align: center; 

}

.card-wrapper {
    max-width: 100%;
    margin:0 1rem 1rem;
    padding: 1rem 1rem;
    
}

.card-list .card-item {
    list-style: none;
}


.card-list .card-item .card-link {
    user-select: none;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    align-items: center;
    background:#b7cbdb;
    padding:1rem;
    border-radius:2rem;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
}


.card-list .card-item .card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    }

.card-list .card-item .badge {
    color:#172A3A;
    padding:2rem 1rem; /*NOTE TO SELF - MAKE RESPONSIVE*/
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem;/*NOTE TO SELF - MAKE RESPONSIVE*/
    background: #dde4ff;
    border-radius: 10px;
    width: fit-content;

}

.card-image{
    margin:0;
    width:100%;
    justify-self: center;
}

.card-list .card-item .card-title {
    color:#172A3A;
}

.card-list .card-link .card-button{
    color:#172A3A;
    border-radius: 50%;
    margin:30px 0 5px;/*NOTE TO SELF - MAKE RESPONSIVE*/
    background:none;
    cursor:pointer;
    border:2px solid black;
    padding:0 0;
    transform:rotate(-45deg);
}

.card-list .card-link:hover .card-button{
    color:#fff;
    background-color: #172A3A;
}

.card-item .swiper-slide {
    max-width: 100%;
}

.swiper-slide{
    height:auto;
    display:flex;
}




/*SPA*/

#Massages{
    background-color:#D2C7B2;
}

.SpaTimePrice{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:white;    
    background-color:#5B646E
}





/*===================== DINING PAGE STYLING===================*/



.Restaurant-Info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: #9C9393;
}


.Restaurant-Info li{
    list-style: none;
    justify-self: center;
}

.Restaurant-Info h3 {
    text-align: center;
    border-bottom: 2px solid #172A3A;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    min-height: 3.5rem; /* or whatever value ensures uniform height */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


/*========GUEST ROOMS STYLING ==============GUEST ROOMS STYLING =====================GUEST ROOMS STYLING*/



    #GuestRoomsGrid{
        background-color: #D2C7B2;
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .GuestRooms-Wrapper h2{
        font-size: 2.5rem;
    }

    .GuestRooms-Wrapper figure {
    padding-left: 2rem;
    padding-right: 2rem;
    }

    .GuestRooms-Wrapper figure{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto;
        align-items: center;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .GuestRooms-Wrapper h2 {
        grid-column: 1 / -1;
        text-align: center;
    }
    
    /* Paragraph on the left column */
    .GuestRooms-Wrapper figcaption {
        grid-column: 1 / span 2;
        grid-row: 1;
    }


        .GuestRooms-Wrapper ul {
        padding-left: 2rem; 
        text-align: left;
        padding-bottom: 2rem;
        margin: 0 3rem;
    }


    .GuestRooms-Wrapper ul li { /* Add space between the Dot and Text */
        text-align: left;
        padding-top:0.4rem;
    }

    
    /* Let Image span vertically to grow/shrink */
    .GuestRooms-Wrapper figure img {
        grid-column: 2;
        grid-row: 2 / span 2;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 3rem;
    }








































/*-----------MEDIA QUERIES--------------MEDIA QUERIES--------------MEDIA QUERIES-------------------------------*/
/*-----------MEDIA QUERIES--------------MEDIA QUERIES--------------MEDIA QUERIES-------------------------------*/
/*-----------MEDIA QUERIES--------------MEDIA QUERIES--------------MEDIA QUERIES-------------------------------*/

@media screen and (max-width:401px){
    #Footer-Info{
        grid-column: 1;
    }
    #LOGO{ 
        width: clamp(10rem, 15rem, 20rem);
        margin-top: 1rem;
    
    }
}



@media screen and (max-width:660px){
    
    #overlap a img{
        max-width: 60%;
    }

    #LOGO{ 
        width: 100%;
        margin:0;
        justify-self: center;
        margin-top: clamp(2rem, 3rem, 5rem);
    }
    
}




/*------------------------------------ MOBILE --------------*/
@media screen and (max-width:768px){   
    #MomentsGrid{
        grid-template-columns: 1fr;
    }
    #LOGO{ 
        width: clamp(10rem, 15rem, 20rem);
        margin-top: 1rem;
    
    }

    .Review-DesktopOnly {
        display:none;
    }


    .Review p{
        margin:0;
        margin-bottom: 1rem;
    }
}



















/*------------------------------------ TABLET --------------*/
@media screen and (min-width:769px) and (max-width:1000px){

    h1{
        font-size: clamp(1.8rem, 2.5rem, 3.5rem);
        
    }

    #LOGO{ 
        width: clamp(12rem, 17rem, 25rem);
        margin-top: 1rem;
    
    }

    #TITLE{
        margin-top: clamp(4rem, 6rem, 8rem);
        margin-bottom: clamp(4rem, 6rem, 6rem);
    }

    h2{
        font-size: clamp(1.75rem, 2.2rem, 3rem);
        margin-top: clamp(1.5rem, 2rem, 3rem);
        margin-bottom: clamp(1rem, 1.5rem, 2rem);
        padding:2rem 4rem 2rem 4rem;
    }

    h3{
        font-size: clamp(1.3rem, 1.8rem, 2.2rem);
        margin:0;
    }

    p{
        font-size: clamp(1rem, 1.5rem, 2rem);
    }

    figcaption{
        font-size: clamp(1rem, 1.5rem, 2rem);
        margin:0;
    }


    button{
        font-size: 1.1rem;
    }

    #HomeIntro img{
        padding: 1rem 6rem 1rem 6rem;
        border-radius: 2rem;
    }

    #MomentsGrid{
        max-width: 90%;
        justify-self: center;
    }


    .attribution p{
        justify-self: right;
        align-items: flex-end;
        color:#969b82;
    }

    nav {
        flex-direction: row;
    }

    .Review-DesktopOnly {
        display:none;
    }
    

    #testimonials {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #testimonials h2 {
        grid-column: 1 / span 2;
    }

    #testimonials p{
        font-size:1.1rem;
    }
    
    #test-button-wrapper{
        grid-column: 1 / span 2;
        display:flex;
        justify-content: center;
    }

    footer{
        font-size: 1rem;
    }


}



















/*---------DESKTOP---------------DESKTOP---------------- DESKTOP -------------------------------------------------*/
@media screen and (min-width:1001px) and (max-width:1599px){

    h1{             /*min preferred max */
        font-size: clamp(2.5rem, 3.3rem, 5rem );
        margin-top: clamp(4rem, 6rem, 8rem);
        margin-bottom: clamp(4rem, 6rem, 8rem);
    }

    #overlap a img{
        max-width: 60%;
    }


    #LOGO{ 
        width: 100%;
        margin:0;
        justify-self: center;
        margin-top: clamp(2rem, 3rem, 5rem);
    }

    #TITLE{

        margin-top: clamp(4rem, 6rem, 8rem);
        margin-bottom: clamp(4rem, 6rem, 8rem);
    }

    h2{
        font-size: clamp(2rem, 2.5rem, 5rem );
        margin: 3rem0;

    }

    h3{
        font-size: clamp(1rem, 1.7rem, 3rem );
        margin:0;
    }

    p{
        font-size: clamp(1rem, 1.5rem, 2rem );
    }

    figcaption{
        font-size: 1.4rem;
        margin:0;
    }
    #testimonials p{
        font-size:1.2rem;
    }

    button{
        font-size: 1.3rem;
    }

    footer{
        font-size: 1rem;
    }


    #card-link{
        width:20%
    }

    nav {
        flex-direction: row;
    }
        /*==================== DESKTOP - HOME PAGE STYLE ========================*/
    
        #testimonials h2 {
            grid-column: 1 / span 3;
        }
    
        .Review-DesktopOnly{
            display:flex;
            flex-direction: column;
            background-color: #E2C486;
            padding: 1rem;
            margin: 1rem auto; 
            max-width: 80%;  
            border-radius: 10px;
            text-align: center;
            align-items: center;
        }
        #testimonials {
            display: grid;
            column-gap: 0.3rem;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            align-items: stretch; 
        }
        .Review,
        .Review-DesktopOnly {
            height: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
    
        #test-button-wrapper{
            grid-column: 1 / span 3;
            display:flex;
            justify-content: center;
        }
        .Review-DesktopOnly p,
        .Review p{
            margin:0;
            padding-bottom: 1rem;
        }


    #MomentsGrid{
        grid-template-columns: 1fr 1fr;
        max-width: 92%;
        justify-self: center;
    }



    #HomeIntro {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2rem;
        align-items: center; 
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }
    
    #HomeIntro h2 {
        grid-column: 1; 
        grid-row: 1;
    }
    
    #HomeIntro h3{
        grid-column: 1; 
        grid-row: 2;
        align-self: start;
        padding-top: 0;
    }
    
    #HomeIntro img {
        grid-column: 2; 
        grid-row: 1 / span 2; 
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .Accomodations-Wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        align-items: center;
        margin: auto;
        padding: 2rem;
    }

    

    .Accomodations-Wrapper h2 {
        grid-column: 1 ;
        grid-row:1;
        margin-bottom: 1rem;
        text-align: center;
    }
    

    .Accomodations-Wrapper p {
        grid-column: 1;
        grid-row: 2;
        
    }
    

    .Accomodations-Wrapper .button-wrapper {
        grid-column: 1;
        grid-row: 3;
    }
    

    .Accomodations-Wrapper img {
        grid-column: 2;
        grid-row: 1 / span 3;
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 1500px;
    }
/*========END============ H0ME PAGE STYLE ========================*/

/*----------------------DESKTOP - GUEST-ROOM STYLING-----------------------*/


    .GuestRooms-Wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 0.75fr 1fr 1fr;
    }


      /* H2 spans both columns and is centered */
    .GuestRooms-Wrapper h2 {
        grid-row: 1;
        grid-column: 1 / span 2;
        text-align: center;
    }
    

    /* Let Image span vertically to grow/shrink */
    .GuestRooms-Wrapper img {
        grid-column: 2;
        grid-row: 3/ span 2;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 3rem;
        align-self: center;
    }

    
    .GuestRooms-Wrapper p {
        grid-column: 1 /span 2;
        grid-row: 2;
        margin:0 3rem;
        padding:0;
    }

        .GuestRooms-Wrapper ul {
        grid-column: 1;
        grid-row:3 / span 2;
        margin: 0 auto;
        justify-self: center;
        padding-left: 2rem; /*this creates space for bullets + gap from edge*/
        text-align: left;
        list-style-position: outside;
        padding-bottom: 2rem;
    }


    .GuestRooms-Wrapper ul li {
        text-align: left;
        padding-top:0.4rem;
    }

    


/*--------------END--------GUEST-ROOM STYLING-----------------------*/




/*========ADVENTURES AND EXCURSIONS*/



/*-==============DESKTOP SPA STYLING ===================*/
#Massages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Massages h2{
    grid-column: 1 / span 2;
}

#Massages img{
    grid-column: 1 / span 2;
    padding: 2rem 0;
    max-width: 60%;
}


#ManiPedi{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 0.3fr 1fr 1fr  1fr;
 }

 #ManiPedi h2{
    grid-column: 1 / span 2;
    padding: 1rem 0;
    margin: 0;
}

 #ManiPedi img{
    align-self: center;
    grid-column: 1;
    grid-row: 2 / span 4;
 }



.SpaCard{
    
    padding-bottom: 1rem;
}

#BodyTreat{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.8fr 0.8fr 0.8fr;
}

#BodyTreat h2{
    grid-column: 1 / span 2;
}

#BodyTreat img{
    grid-column: 1;
    grid-row: 2 / span 3;
    align-self: center;
}

#BodyTreat .SpaCard{
    padding-bottom: 0;
}

#BodyTreat .SpaCard p,
#BodyTreat .SpaCard h3{
    margin:0;
    padding:0;
}

.spaCard h3{
    font-weight: normal;
}

#BodyTreat .spaCard p {
    text-align: left;
    align-self:flex-start;
}

hr{
    margin: 1rem 0;
    width:100%;
}



.ReviewCard{ 
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 3rem;
    margin: 5rem auto; 
    max-width: 60%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.ReviewNAME{
    justify-content: left;
    text-align: left;
}



}



























/*=======EXTRA LARGE SCREENS===========================EXTRA LARGE SCREENS===========================EXTRA LARGE SCREENS==========================EXTRA LARGE SCREENS===================*/
/*======================================================================================================================================================================================*/
@media screen and (min-width:1400px){

    
    #overlap a img{
        max-width: 60%;
    }

    #LOGO{ 
        width: 100%;
        margin:0;
        justify-self: center;
        margin-top: clamp(2rem, 3rem, 5rem);
    }
    
    hr{
        grid-column: 1 / span 2;
        width:100%;
        margin: 0 auto;
    }

    h1{             /*min preferred max */
        font-size: clamp(2.5rem, 3rem, 5rem );
        margin-top: clamp(4rem, 6rem, 8rem);
        margin-bottom: clamp(4rem, 6rem, 8rem);
    }

    #TITLE{
        margin-top: clamp(4rem, 6rem, 8rem);
        margin-bottom: clamp(4rem, 6rem, 8rem);
    }

    h2{
        font-size: clamp(2rem, 3rem, 4rem );
        margin-top: clamp(2rem, 3rem, 4rem);
        margin-bottom: clamp(2rem, 3rem, 4rem);
    }

    h3{
        font-size:  clamp(1.8rem, 2rem, 3rem );
        margin:0;
    }

    p{
        font-size: clamp(1rem, 1.7rem, 3rem );
    }

    li{
        font-size: clamp(1rem, 1.4rem, 2rem );
    }


    p.NavButton{
        font-size: clamp(1.5rem, 2rem, 2.5rem ); ;
    }
    figcaption{
        font-size: clamp(1rem, 1.7rem, 3rem );
        margin:0;
    }
    #testimonials p{
        font-size:1.2rem;
    }

    button{
        font-size: 1.3rem;
    }

    footer{
        font-size: 1rem;
    }

    .Review-DesktopOnly p,
    .Review p{
        margin:0;
        margin-bottom: 1rem;
        font-size: clamp(1.5rem, 1.8rem, 3rem );
        
    }
    #HomeIntro {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2rem;
        align-items: center; 
        max-width: 100%;
        margin: auto;
        padding: 2rem;
    }
    
    #HomeIntro h2 {
        grid-column: 1; 
        grid-row: 1;
    }
    
    #HomeIntro h3{
        grid-column: 1; 
        grid-row: 2;
        align-self: start;
        padding-top: 0;
    }
    
    #HomeIntro img {
        grid-column: 2; 
        grid-row: 1 / span 2; 
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #MomentsGrid{
        grid-template-columns: 1fr 1fr;
        max-width: 92%;
        justify-self: center;
    }


    nav {
        flex-direction: row;
    }
        /*==================== H0ME PAGE STYLE ========================*/
    
        #testimonials h2 {
            grid-column: 1 / span 3;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
    
        .Review-DesktopOnly{
            display:flex;
            flex-direction: column;
            background-color: #E2C486;
            padding: 1rem;
            margin: 1rem auto; 
            max-width: 80%;  
            border-radius: 10px;
            text-align: center;
            align-items: center;
        }
        #testimonials {
            display: grid;
            column-gap: 0.3rem;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            align-items: stretch; 
        }
        .Review,
        .Review-DesktopOnly {
            height: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
    
        #test-button-wrapper{
            grid-column: 1 / span 3;
            display:flex;
            justify-content: center;
        }



    #MomentsGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .Accomodations-Wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        align-items: center;
        margin: auto;
        padding: 2rem;
    }

    

    .Accomodations-Wrapper h2 {
        grid-column: 1 ;
        grid-row:1;
        margin-bottom: 1rem;
        text-align: center;
    }
    

    .Accomodations-Wrapper p {
        grid-column: 1;
        grid-row: 2;
        
    }
    

    .Accomodations-Wrapper .button-wrapper {
        grid-column: 1;
        grid-row: 3;
    }
    

    .Accomodations-Wrapper img {
        grid-column: 2;
        grid-row: 1 / span 3;
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 1500px;
    }
/*========END============ H0ME PAGE STYLE ========================*/




/*----------------------GUEST-ROOM STYLING-----------------------*/
/*----------------------GUEST ROOMS STYLING -----------------------------------*/
#GuestRoomsGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    padding:2rem;
    align-items: stretch;
}

.GuestRooms-Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
    align-items: start;
    padding: 2rem;
    background-color: #fff; /* optional for visibility */
    border-radius: 1rem;
    box-shadow: 0 2px 5px #03233d;
  }

  .GuestRooms-Wrapper h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3rem;
    margin:0;
    margin-bottom: 2rem;
    padding:0;
  }
  
  .GuestRooms-Wrapper img {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    width: 100%;
    object-fit: cover;
    align-self: start;
  }
  
  .GuestRooms-Wrapper p {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
  }
  
  .GuestRooms-Wrapper ul {
    grid-column: 1  /span 2;
    grid-row: 5;
    text-align: left;
    padding-left: 1rem;
  }

  .GuestRooms-Wrapper:last-child{
    grid-column: 1 / span 2;
  }

  .GuestRooms-Wrapper:last-child ul{
    justify-self: center;
  }

/*--------------END--------GUEST-ROOM STYLING-----------------------*/


/*SPA*/
#Massages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Massages h2{
    grid-column: 1 / span 2;
}

#Massages img{
    grid-column: 1 / span 2;
    padding: 2rem 0;
    max-width: 60%;
}


#ManiPedi{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 0.3fr 1fr 1fr  1fr;
 }

 #ManiPedi h2{
    grid-column: 1 / span 2;
    padding: 1rem 0;
    margin: 0;
}

 #ManiPedi img{
    align-self: center;
    grid-column: 1;
    grid-row: 2 / span 4;
 }



.SpaCard{
    
    padding-bottom: 1rem;
}

#BodyTreat{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.8fr 0.8fr 0.8fr;
}

#BodyTreat h2{
    grid-column: 1 / span 2;
}

#BodyTreat img{
    grid-column: 1;
    grid-row: 2 / span 3;
    align-self: center;
}

#BodyTreat .SpaCard{
    padding-bottom: 0;
}

#BodyTreat .SpaCard p,
#BodyTreat .SpaCard h3{
    margin:0;
    padding:0;
}

.spaCard h3{
    font-weight: normal;
}

#BodyTreat .spaCard p {
    text-align: left;
    align-self:flex-start;
}

hr{
    margin: 1rem 0;
    width:100%;
}




/*TESTIMONIALS*/



.ReviewCard{ 
    display:flex;
    flex-direction: column;
    background-color: #E2C486;
    padding: 3rem;
    margin: 5rem auto; 
    max-width: 60%;  
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.ReviewNAME{
    justify-content: left;
    text-align: left;
}


}






















